/* STYLE FOR INDEX PAGE */
body {
  background-color: #FCD04B;
  font-family: 'Fredoka One';
}

h1 {
  font-size: 9em;
  text-align: center;
  color:#EFA424;
}

#selectgame {
  font-size: 2em;
  color: white;
}

#createnew {
  text-decoration: none;
  color: #74C3E1;
}

#games {
  position: fixed;  
  width: 90vw;
  height: auto;
  bottom: 10vh;
  left: 50%;
  transform: translateX(-50%);
}
  
li {
  width: 17vw;
  text-align: center;
  padding: 1.5% 1%;
  margin: 1% 1.5%;
  font-size: x-large;
  cursor: pointer;
  list-style: none;
  display: inline-block;
  background-color: #FCAD26;
  border: 5px solid white;
  color: white;
}  
li:hover {
  background-color:white;
  border: 5px solid #FCAD26;
  color: #FCAD26;
}

@media only screen and (max-device-width: 1000px) and (orientation: landscape) {
  h1 {
    width: 45vw;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 7em;
  }
  #games {
    width: 45vw;
    top: 0;
    right: 0;
    border: 2px solid blue;
    transform: translateX(0);
    margin: 0;
  }
}