body {
    background-color: #F9FAFA;
    font-family: 'Fredoka One';
}

input {
    border: 3px solid #FCAD26;
}
input:focus {
    outline: none !important;
}

#whichCollection {
    width: 30vw;
    font-size: x-large;
    padding: 0.5%;
    margin-bottom: 3vh;
    margin-right: 3vw;
}

.updateCollection {
    font-size: large;
    display: inline-block;
    width: 12vw;
    padding: 0.5%;
    text-align: center;
    background-color: #EFA424;
    border: 3px solid #FCAD26;
    color: white;
    cursor: pointer;
}
.updateCollection:hover {
    background-color: white;
    border: 3px solid #FCAD26;
    color: #EFA424;
}

.updateRow {
    width: 99vw;
    height: auto;
    position: relative;
}

.imagelink {
    width: 50vw;
    font-size: large;
    padding: 0.3%;
    margin-top: 3px;
}
.imagelink:last-of-type {
    margin-bottom: 1vh;
}
.inputname {
  width: 20vw;
  font-size: large;
  padding: 0.2%;
  margin-right: 1vw;
}

#previewPhoto {
    position: fixed;
    top: 5vh;
    right: 1vw;
    width: 13vw;
    height: 21vh;
    border: 2px solid #FCAD26;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
}
#movePhoto {
    position: fixed;
    top: 28vh;
    right: 1vw;
    width: 13vw;
    height: auto;
    margin-top: 2px;
}
.move {
    margin-left: 0.5vw;
}

#submitlinks {
    display: none;
}
.selectedPerson {
    background-color: #74C3E1;
    color: white;
}
.updated {
    color: #74C3E1;
    display: inline-block;
    opacity: 0;
}
#confirmDrop {
    width: 100%;
    opacity: 0;
}
#drop {
    display: inline-block;
    background-color: tomato;
    color: white;
    border: 3px solid #A22116;
    padding: 1%;
}
#drop:hover {
    cursor: pointer;
    background-color: #A22116;
    color: white;
    border: 3px solid tomato;
}
p {
    display: inline-block;
    margin-left: 5%;
    color: slategray;
    opacity: 0;
}
.confirm {
    display: inline-block;
    margin-left: 3%;
    opacity: 0;
}
.confirm:hover {
    color: tomato;
    cursor: pointer;
}